/**
*
* Testing
*
**/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Navbar {
  z-index: 11;
  position: fixed;
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: white;
}

.logo {
  width: 10%;
  height: 35px;
}
@media (max-width: 623px) {
  .logo {
    width: 20%;
    height: 35px;
  }
}

#logoImg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: none;
  bottom: none;
}

.nav {
  width: 35%;
  height: 40%;
  position: relative;
  top: 0;
  left: 0;
  right: none;
  bottom: none;
  display: flex;
  align-items: center;
  justify-content: start;
}
@media (max-width: 900px) {
  .nav {
    width: 60%;
    height: 40%;
  }
}
@media (max-width: 623px) {
  .nav {
    display: none;
  }
}

.nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}

.nav ul li .same {
  padding: 10px;
  font-family: "Ubuntu";
  font-weight: 500;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  position: relative;
}

.nav ul li .same:hover {
  color: #fc7d57;
  text-decoration: none;
}

.nav ul li .same::after {
  content: "";
  width: 75%;
  height: 2px;
  position: absolute;
  top: none;
  left: 10px;
  right: none;
  bottom: 5px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
  background-color: white;
}

.nav ul li .same:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  width: 75%;
  height: 2px;
}

.companyName {
  position: relative;
}
.companyName:hover .company-options {
  visibility: visible;
}

.company-options {
  border-radius: 12px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: -25%;
  right: none;
  bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 200px;
  background-color: #9f9ff3;
}
.company-options a {
  text-decoration: none;
  list-style: none;
  width: 100%;
  color: white;
}
.company-options div {
  text-shadow: 2px 2px 10px black;
  overflow: hidden;
  width: 100%;
  height: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 35px;
  padding: 0% 4%;
  border: 1px solid white;
  border-radius: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
  font-weight: 500;
  font-style: normal;
  transition: box-shadow 0.7s;
}
.company-options div:hover {
  box-shadow: inset 200px 0 15px 15px #6060eb;
}

.sign {
  display: flex;
  width: 20%;
  height: 35px;
  justify-content: space-between;
}
@media (max-width: 623px) {
  .sign {
    width: 40%;
  }
}

.btnSignUp:hover, .sign .login:hover {
  border: 1px solid #fc7d57;
  color: #fc7d57;
}

.sign .login, .btnSignUp {
  text-decoration: none;
  position: relative;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  display: flex;
  border: 1px solid white;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: "Ubuntu";
  font-weight: 500;
  font-style: normal;
  width: 45%;
  height: 35px;
}

.sign .login p, .sign .btnSignUp p {
  margin: auto;
}/*# sourceMappingURL=Navbar.css.map */