@import "./utilities/breakpoints";
@import "./utilities/mixins";
@import "./utilities/colors";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');
.Products-table-container{
  background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(/src/media/productsBackground2.jpg);
  @include background(fixed);
  width: 100%;
  min-height: 100vh;
  font-family: Ubuntu; 
  font-size: larger;
  @include position(relative);
  bottom: 0;
  background-color: rgb(255, 224, 224);
  padding: 5% 0 0 0;
  @include flex(center);
  .Products-table{
   @include size(90%,80%);
   @include flex(none);
   flex-direction: column;

   input{
    margin: 2% 0 1% 0;
    padding: 1%;
    width: 60%;
    text-align: center;
    @include border(1px,black,10px)
   }
  }
  .products-table-header,.products-table-content{
  
    @include size(100%,15%);
    @include flex();
    color: white;
    @include media('<=tablet'){
      @include font(medium,510,italic);
    }
  }
  .products-table-content{
    
    min-height: 15%;
    overflow: hidden;
    div{
        @include flex();
    }
  }
  .product-name{
    width: 25%;
  }
  .product-cost{
    width: 15%;
  }
  .product-description{
    width: 35%;
  }
  .product-options{
    width: 25%;
    min-height: 80px;
    @include flex(space-between);
    @include media("<=tablet"){
      display: flex;
      flex-direction: column;
      
    }
  }
  .product-options button{
    width: 40%;
    height: 40px;    
    @include border(0px,none,8px);
    border: none;
    cursor: pointer;
    margin: 2%;
    color: white;
    background-color: rgb(255, 93, 93);
    transition: background-color 0,5s;
    &:hover{
      background-color: rgb(255, 0, 0);
    }
    @include media("<=tablet"){
      
        @include size(80%,35%);
        margin: 4px;
      
    }
    
  }
  .x{
    @include border(0.1px,white,0px);
    @include flex();
    height: 100%;
    padding: 1.5%;
    min-height: 100px;
  }
  .product-message{
    @include font(x-large,512);
  }
  .product-message{
    @include font(xx-large,520);
    margin: 2%;
  }
  .popDeleteProduct{
    height: auto;
    width: 500px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.997);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    top: 40%;
    left: 35%;
    border-radius: 12px;
    @include media('<=tablet'){
      left: 10%;
      @include size(80%,auto);
      padding: 1%;
      text-align: center;
    }
    }
    .popDeleteProduct h2{
      margin:40px 0;
    }

    .delete-options{
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .delete-options button{
      background-color: rgb(255, 131, 131);
      color: rgb(255, 255, 255);
      width: 25%;
      height: 30px;
      border-radius: 12px;
      border: none;
      cursor: pointer;
    }
    .delete-options button:hover{
      background-color: red;
      color: white;
    }
    .close-pop{
      position: absolute;
      cursor: pointer;
      right: 6px;
      top: 2px;
      color: red;
    }
    
}   
