@import "./utilities/breakpoints";
@import "./utilities/mixins";
@import "./utilities/colors";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

.Navbar{
    z-index: 10;
    position: fixed;
   // background-color: #6060eb3f;
     @include size(100%,11%);
     display:flex;
     justify-content: space-around;
     align-items: center;
     border: white;
     
}
.logo{
    width:10%;
    height:35px;
    @include media("<=623px"){
        width: 20%;
        height: 35px;
     }
}
#logoImg{
    @include size(100%,100%);
    @include  position(relative,0 ,0,none,none);

}

.nav{
    @include size(35%,40%);
    @include  position(relative,0 ,0,none,none);
    @include  flex(start);
    @include media("<=900px"){
        @include size(60%,40%);
     }
         @include media("<=623px"){
         display: none;
      }
    
}
.nav ul {
    display: flex;
    list-style:none;
    width:100%;
    justify-content: space-evenly;
}
.nav ul li .same{
    padding: 10px;
    font-family: 'Ubuntu';
    font-weight: 500;
    cursor: pointer;
    color:white;
    transition: 0.3s;
    position: relative;
   
}
.nav ul li .same:hover{
   color:$secondary;
   text-decoration: none;
}
.nav ul li .same::after{
    content: "";
    @include size(75%,2px);
    @include  position(absolute,none ,10px,none,5px);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
    background-color: white; 
  
}
.nav ul li .same:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .sign{
    display: flex;
    @include size(20%,35px);
    justify-content: space-between;
    @include media("<=623px"){
        width: 40%;
     }
  }

.btnSignUp:hover,.sign .login:hover{
    border:1px solid $secondary ;
    color:$secondary;
}
.sign .login ,  .btnSignUp {
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    display: flex;
    border:1px solid white;
    color: white;
    @include font('Ubuntu');
    @include size(45%,35px);
}
.sign .login p, .sign .btnSignUp p{
     margin: auto;
}





   
